datasets/
*.bin
raw_data/
*.txt
checkpoints/
*.pt
*.pth
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
.DS_Store
*.log
logs/
.ipynb_checkpoints/
*.ipynb
!tokenizer/mix.model
!tokenizer/mix.vocab
!README.md
